{% extends "network/layout.html" %}

{% block body %}
    <div class="container text-center" style=" background-color: rgb(61, 60, 60);min-height: 100vh;">
        <br><br><br>
        <form action="{%url 'newpost'%}" method="POST" style="display: flex;flex-direction: column;justify-content: center;align-items: center;gap: 20px;">
            {% csrf_token %}
            <input type="text" name="content" id="post-input">
            
            <button type="submit" class="btn btn-primary ">post</button>
    
        </form> 
    </div>
{% endblock %}