{% extends "network/layout.html" %}

{% block body %}
<div class="container" style="color: white;background-color: rgb(61, 60, 60);min-height: 100vh;">
<div class="container text-center" style="height: 30vh;">
    <form action="{%url 'follow_unfollow' id=id%}" method="POST">
        followrs-{{f_l}}  following-{{fly_l}}
        {% csrf_token %}
        {%if request.user != profile%}
        {%if request.user in followers%}
        <input type="submit" value="unfollow" name="unfollow">
        {%else%}
        <input type="submit" value="follow" name="follow">
        {%endif%}
        {%endif%}
        
    </form>
</div>

    
    {%for post in posts%}
    <br>
        <div class="post container" style="padding-top: 5px;font-size: 20px; ">
            <div class=" container text-start"><img src="https://images.unsplash.com/photo-1682687220208-22d7a2543e88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="" style="height: 30px;width: 30px; border-radius: 15px;">&nbsp&nbsp<a style="text-decoration: none;color: white;" href="{%url 'profile' id=post.post_owner.id%}">{{post.post_owner}}</a> <span style="margin-left: 70%;">{{post.date.date}} {{post.date.time}}</span></div>
            <hr style="color: grey;">
            <div class="container text-start" style="height: 50%;">
                <h5>{{post.post_content}}</h5>
            </div>
            
            <div class="container text-start">
                
            
            </div>
        </div>
        <br>
    {%endfor%}

</div>

{% endblock %}