body{
    background-image: url('https://images.unsplash.com/photo-1632920965073-26f44875789d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80https://images.unsplash.com/photo-1632920965073-26f44875789d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
    background-size:cover ;
}


#index-cont{
    min-height: 100vh;
    background-color: rgb(61, 60, 60);
}
#pagination{
    background-color: blue;
}

.post{
    height: 30vh;
    color: white;
    background-color: black;
    border-radius: 15px;
}
.post_image{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

#post-input{
    height: 30vh;
    width: 80%;
    border-radius: 10px;
    border: none;
}